<div class="carousel slide" data-ride="carousel" id="carousel-product">
    <ol class="carousel-inner">
        <li data-target="#carousel-product" data-slide-to="0" class="active item">
            <img src="slide-image" src="http://placehold.it/800x300" alt="">
        </li> 
        <li data-target="#carousel-product" data-slide-to="1" class="item">
            <img src="slide-image" src="http://placehold.it/800x300" alt="">
        </li> 
        <li data-target="#carousel-product" data-slide-to="2" class="item">
            <img src="slide-image" src="http://placehold.it/800x300" alt="">
        </li> 
    </ol>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-product" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-product" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
